*{
    background-color: rgb(95, 95, 95);
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.formulario{
    font-family: "Anek Latin", sans-serif;
    margin-left: 36%;
    margin-top: 5%;
}

.formulario_2{
    font-family: "Anek Latin", sans-serif;
    margin-left: 48%;
    margin-top: -22%;
}

.botao{
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid rgb(39, 39, 39) 2px;
}

input{
    color: aliceblue;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
}

label{
    color: aliceblue;
}

select{
    color: aliceblue;
}
